<h1>Angular Router Sample</h1>
<nav>
  <a routerLink="/crisis-center" class="button" routerLinkActive="activebutton">
    Crisis Center
  </a> |
  <a routerLink="/superheroes" class="button" routerLinkActive="activebutton">
    Heroes
  </a> |
  <a routerLink="/admin" class="button" routerLinkActive="activebutton">
    Admin
  </a> |
  <a routerLink="/login" class="button" routerLinkActive="activebutton">
    Login
  </a> |
  <a [routerLink]="[{outlets: { popup: ['compose'] }}]" class="button" routerLinkActive="activebutton">
    Contact
  </a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>